<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Prior Art Search </title>
</head>

<body>
    <header>
        <div class="logo">
            <h1> Patent.<span opacity="50">ly</span> </h1>
        </div>
        <div class="nav">
            <button> Demo </button>
            <button> About </button>
            <button> Contact </button>
        </div>
    </header>
    <div class="primary-content">
        <div class="title">
            <h1> Find Prior Art in Seconds</h1>
        </div>
        <p> AI powered search to find patents related to your ideas. </p>
        <form action="/search" method="POST">
            <label for="invention_description"> Your invention description: </label><br>
            <textarea id="invention_description" name="invention_description" required></textarea><br>
            <input type="submit" value="Search">
        </form>
    </div>
</body>

</html>